# ignore directoy bin and files in it
bin/*

# ignore all files that are building products
*.o
*.out

# remove IDE settings
.idea
.vscode

.gdb_history

./refinements/*/bin/critical_section
*/bin/critical_section_srv